$primary_color: rgb(5, 5, 5);


body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 18px;
  }
  color: #e1e1f1;
}

a {
    color: #e1e1f1;
  img {
    border: none;
  }
}

.clear {
color: #e1e1f1;
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: rgb(231, 225, 225);
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
    color: #e1e1f1;
  clear: both;
  padding-top: 20px;
}
