$primary_color: rgb(19, 9, 9);


body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 18px;
  }
  color: #1313e2;
}

a {
    color: #0606f7;
  img {
    border: none;
  }
}

.clear {
color: #1717ee;
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: rgb(31, 16, 16);
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
    color: #f8f8f8;
  clear: both;
  padding-top: 20px;
}
